<div class="container-fluid text-black mt-5 text-center">
    <h1>Lista de Servicios</h1>
</div>


<div class="container">
    <div class="d-flex mt-3 mx-3 justify-content-end">
        <button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#agregarservicio"
                style="background: #00DA9D; color: white; border-radius: 20px; width:
     200px">Agregar Servicio
        </button>
    </div>
    <br>
    <table class="table mt-3 table-hover table-striped">

        <thead style="background: #195E4B; color: white">
        <tr>
            <th></th>
            <th scope="col" class="text-center">Servicio</th>
            <th scope="col" class="text-center">Categoria</th>
            <th scope="col" class="text-center">Descripción</th>
            <th scope="col" class="text-center">Configuración</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let servicios of servicio">
            <td class="img-fluid justify-content-center">
                <a href="{{servicios.serimagen}}" data-fancybox >
                    <img src="{{servicios.serimagen}}" alt="" class="img-fluid img-thumbnail"/></a>
            </td>

            <td class="text-center">
                <div class="fs-5 fw-bold">{{servicios.sernombre}}</div>
                <p class="text-muted small">$ {{servicios.serprecio}}</p>
            </td>
            <td class="text-center">
                <div>
                    <span class="badge rounded-pill bg-ligth text-dark me-1">{{servicios.idcatser.catnombre}}</span>
                </div>
                <span class="badge rounded-pill bg-ligth text-dark me-1">{{servicios.idsubcat.subcatnombre}}</span>
            </td>
            <td class="text-center">
                <p>{{servicios.serdescripcion}}</p>
            </td>

            <td class="text-center">
                <div class="btn-group ">
                    <button class="btn btn-color dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="background: #5CCB4A; color: white;">
                        Opciones
                    </button>
                    <ul class="dropdown-menu btn-color" style="border: none; background: none">
                        <button class="btn-color dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#editarservicio"
                                style="background: #00DA9D; color: white;" (click)="abrirmodaleditar(servicios)">Editar
                        </button>
                        <button class="btn-color dropdown-item "
                                style="background: #F33501; color: white;" (click)="delete(servicios)">Eliminar
                        </button>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<!-- Modal -->
<div class="modal fade" id="agregarservicio" tabindex="-1" aria-labelledby="agregarproducto" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <div class="modal-header align-items-center" style="background: #195E4B; color: white">
                <h1 class="modal-title fs-5">Agregar Servicio</h1>
                <button type="button" id="closeM1" class="btn-close bg-light text-bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control" #servicioForm="ngForm" style="border: none">
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="nombreservicio">Nombre del Servicio:</label>
                            <input type="text" class="form-control"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   id="nombreservicio" name="nombreservicio" required minlength="2" maxlength="25" [(ngModel)]="servicios.sernombre" #nombreservicio="ngModel">
                                   <div class="alert alert-danger"
                                   *ngIf="nombreservicio.invalid && (nombreservicio.dirty || nombreservicio.touched)">
                                  <div *ngIf="nombreservicio?.errors?.['required']">
                                      Digite el nombre del servicio por favor
                                  </div>
                                  <div *ngIf="nombreservicio?.errors?.['minlength']">
                                      El nombre debe tener mínimo 2 caracteres
                                  </div>
                                  <div *ngIf="nombreservicio?.errors?.['maxlength']">
                                      El nombre debe tener máximo 25 caracteres
                                  </div>

                              </div>       
                        </div>
                        <div class="col-sm">
                            <label for="duracion">Duracion del Servicio:</label>
                            <input type="text" class="form-control" id="duracion"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   name="duracion" required maxlength="10" placeholder="Ingrese la duracion en horas" [(ngModel)]="servicios.serduracion" #duracion="ngModel">
                                   <div class="alert alert-danger"
                                   *ngIf="duracion.invalid && (duracion.dirty || duracion.touched)">
                                  <div *ngIf="duracion?.errors?.['required']">
                                      Digite la duración del servicio por favor
                                  </div>                                  

                              </div>
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="precio">Precio:</label>
                            <input type="text" class="form-control" placeholder="0,00" id="precio" name="precio"
                                   style="background: #D9D9D9;border-radius: 0px;" required maxlength="7" [(ngModel)]="servicios.serprecio" #precio="ngModel">
                                   <div class="alert alert-danger"
                                   *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                                  <div *ngIf="precio?.errors?.['required']">
                                      Digite el precio del servicio por favor
                                  </div>
                                  

                              </div>
                        </div>
                        <div class="col-sm">
                            <label for="descripcion">Descripción del Servicio:</label>
                            <textarea class="form-control" id="descripcion"
                                      style="background: #D9D9D9;border-radius: 0px;" name="descripcion" required
                                      minlength="25" maxlength="100" [(ngModel)]="servicios.serdescripcion" #descripcion="ngModel"></textarea>
                                      <div class="alert alert-danger"
                                      *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                                     <div *ngIf="descripcion?.errors?.['required']">
                                         Digite la descripción del servicio por favor
                                     </div>
                                     <div *ngIf="descripcion?.errors?.['minlength']">
                                         La descripcion debe tener mínimo 25 caracteres
                                     </div>
                                     <div *ngIf="descripcion?.errors?.['maxlength']">
                                         La descripcion debe tener máximo 100 caracteres
                                     </div>
 
                                 </div>
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="catpronombre" class="form-label">Categoría</label>
                                <select [(ngModel)]="servicios.idcatser" name="catproid" id="idcatser"
                                        class="form-control" required
                                        style="background: #D9D9D9;border-radius: 15px;">

                                    <option *ngFor="let categorias of categoria"
                                            [ngValue]="categorias">{{categorias.catnombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="subcatpronombre" class="form-label">Subcategoría</label>
                                <select [(ngModel)]="servicios.idsubcat" name="idsubcat" id="idsubcat"
                                        class="form-control" required
                                        style="background: #D9D9D9;border-radius: 15px;">
                                    <option *ngFor="let subcategorias of subcategoria"
                                            [ngValue]="subcategorias">{{subcategorias.subcatnombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="url">Link de la imagen:</label>
                            <input type="url" class="form-control" placeholder="URL" id="url" name="url" required [(ngModel)]="servicios.serimagen" #url="ngModel"
                                   style="background: #D9D9D9;border-radius: 10px;">
                                   <div class="alert alert-danger"
                                   *ngIf="url.invalid && (url.dirty || url.touched)">
                                  <div *ngIf="url?.errors?.['required']">
                                      Digite el nombre del producto por favor
                                  </div>
                                 

                              </div>       
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="idemp" class="form-label">Empresa </label>
                                <select [(ngModel)]="servicios.idempresa" name="idemp" id="idemp"
                                        class="form-control" required
                                        style="background: #D9D9D9;border-radius: 15px;">
                
                                    <option 
                                            [ngValue]="empresasdatos">{{nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <button class="btn btn-color"  style="background: #00DA9D; color: white" type="submit" [disabled]="!servicioForm.form.valid"
                                (click)="agregarServicio()">Agregar</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-color" type="button" data-bs-dismiss="modal" style="background:
                                #F33501; color: white">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Modal Editar-->
<div class="modal fade" id="editarservicio" tabindex="-1" aria-labelledby="agregarproducto" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <div class="modal-header align-items-center" style="background: #195E4B; color: white">
                <h1 class="modal-title fs-5">Agregar Servicio</h1>
                <button type="button" id="closeM2" class="btn-close bg-light text-bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control" #servicioForm="ngForm" style="border: none">
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="nombreservicioedit">Nombre del Servicio:</label>
                            <input type="text" class="form-control"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   id="nombreservicioedit" name="nombreservicioedit" required minlength="2" maxlength="25" [(ngModel)]="servicios.sernombre" #nombreservicioedit="ngModel">
                                   <div class="alert alert-danger"
                                   *ngIf="nombreservicioedit.invalid && (nombreservicioedit.dirty || nombreservicioedit.touched)">
                                  <div *ngIf="nombreservicioedit?.errors?.['required']">
                                      Digite el nombre del servicio por favor
                                  </div>
                                  <div *ngIf="nombreservicioedit?.errors?.['minlength']">
                                      El nombre debe tener mínimo 2 caracteres
                                  </div>
                                  <div *ngIf="nombreservicioedit?.errors?.['maxlength']">
                                      El nombre debe tener máximo 25 caracteres
                                  </div>

                              </div>       
                        </div>
                        <div class="col-sm">
                            <label for="duracionedit">Duracion del Servicio:</label>
                            <input type="text" class="form-control" id="duracionedit"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   name="duracionedit" required maxlength="10" placeholder="Ingrese la duracion en horas" [(ngModel)]="servicios.serduracion" minlength="2" #duracionedit="ngModel">
                                   <div class="alert alert-danger"
                                   *ngIf="duracionedit.invalid && (duracionedit.dirty || duracionedit.touched)">
                                  <div *ngIf="duracionedit?.errors?.['required']">
                                      Digite la duración del servicio por favor
                                  </div>    
                                  <div *ngIf="duracionedit?.errors?.['minlength']">
                                      La duracion debe tener mínimo 2 digitos
                                </div>                              

                              </div>
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="precioedit">Precio:</label>
                            <input type="text" class="form-control" placeholder="0,00" id="precioedit" name="precioedit"
                                   style="background: #D9D9D9;border-radius: 0px;" required maxlength="7" [(ngModel)]="servicios.serprecio" #precioedit="ngModel">
                                   <div class="alert alert-danger"
                                   *ngIf="precioedit.invalid && (precioedit.dirty || precioedit.touched)">
                                  <div *ngIf="precioedit?.errors?.['required']">
                                      Digite el precio del servicio por favor
                                  </div>
                                  

                              </div>
                        </div>
                        <div class="col-sm">
                            <label for="descripcionedit">Descripción del Servicio:</label>
                            <textarea class="form-control" id="descripcionedit"
                                      style="background: #D9D9D9;border-radius: 0px;" name="descripcionedit" required
                                      minlength="25" maxlength="100" [(ngModel)]="servicios.serdescripcion" #descripcionedit="ngModel"></textarea>
                                      <div class="alert alert-danger"
                                      *ngIf="descripcionedit.invalid && (descripcionedit.dirty || descripcionedit.touched)">
                                     <div *ngIf="descripcionedit?.errors?.['required']">
                                         Digite la descripción del servicio por favor
                                     </div>
                                     <div *ngIf="descripcionedit?.errors?.['minlength']">
                                         La descripcion debe tener mínimo 25 caracteres
                                     </div>
                                     <div *ngIf="descripcionedit?.errors?.['maxlength']">
                                         La descripcion debe tener máximo 100 caracteres
                                     </div>
 
                                 </div>
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="catpronombre" class="form-label">Categoría</label>
                                <select [compareWith]="compararcategoria" [(ngModel)]="servicios.idcatser" name="catproid" id="idcatser"
                                        class="form-control" required
                                        style="background: #D9D9D9;border-radius: 15px;">

                                    <option *ngFor="let categorias of categoria"
                                            [ngValue]="categorias">{{categorias.catnombre}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="subcatpronombre" class="form-label">Subcategoría</label>
                                <select [compareWith]="compararsubcategoria" [(ngModel)]="servicios.idsubcat" name="idsubcat" id="idsubcat"
                                        class="form-control" required
                                        style="background: #D9D9D9;border-radius: 15px;">
                                    <option *ngFor="let subcategorias of subcategoria"
                                            [ngValue]="subcategorias">{{subcategorias.subcatnombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="urledit">Link de la imagen:</label>
                            <input type="url" class="form-control" placeholder="URL de la imagen" id="urledit" name="urledit" required [(ngModel)]="servicios.serimagen" #urledit="ngModel"
                                   style="background: #D9D9D9;border-radius: 10px;" maxlength="100">
                                   <div class="alert alert-danger"
                                   *ngIf="urledit.invalid && (urledit.dirty || urledit.touched)">
                                  <div *ngIf="urledit?.errors?.['required']">
                                      Digite el nombre del producto por favor
                                  </div>   
                              </div>       
                        </div>
           
                    </div>
                    <br>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <button class="btn btn-color"  style="background: #00DA9D; color: white" type="submit" [disabled]="!servicioForm.form.valid"
                                (click)="actualizarServicio()">Editar</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-color" type="button" data-bs-dismiss="modal" style="background:
                                #F33501; color: white">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


