<section class="container-fluid">
    <div class="row align-items-center container">
        <div class="col p-3">
            <h2 class="titleOd">ODISEUM</h2>
            <p>La plataforma "ODISEUM" es una herramienta ágil y versátil diseñada <br>
                por un equipo multidisciplinario, que adapta las necesidades de los <br>
                emprendedores de todos los segmentos para el registro, oferta y venta <br>
                de sus productos y/o servicios.
            </p>
        </div>
        <div class="col p-3">
            <img src="assets/images/Inicio.png" class="img-fluid">
        </div>
    </div>

</section>
