<div class="container-fluid text-black mt-5 text-center">
    <h2>USUARIOS</h2>
</div>


<div class="container">
    <div class="d-flex mt-3 mx-3 justify-content-end">
        <button class="btn btn-color"
                data-bs-toggle="modal"
                data-bs-target="#agregarusuario"
                (click)="cleanModal()"
                style="background: #00DA9D; color: white; border-radius: 20px; width:125px"> Agregar
        </button>
    </div>
    <br>
    <table class="table mt-3 table-striped table-hover">
        <thead style="background: #195E4B; color: white">
        <tr>
            <th scope="col" class="text-center">Cedula</th>
            <th scope="col" class="text-center">Nombre</th>
            <th scope="col" class="text-center">Celular</th>
            <th scope="col" class="text-center">Usuario</th>
            <th scope="col" class="text-center">Rol</th>
            <th scope="col" class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td class="text-center">{{user.persona.cedula}}</td>
            <td class="text-center">{{user.persona.nombre}}</td>
            <td class="text-center">{{user.persona.celular}}</td>
            <td class="text-center">{{user.usuusuario}}</td>
            <td class="text-center">{{user.rol_id.rolnombre}}</td>
            <td class="text-center">
                <div class="btn-group ">
                    <button class="btn btn-color dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="background: #5CCB4A; color: white;">
                        Opciones
                    </button>
                    <ul class="dropdown-menu btn-color" style="border: none; background: none">
                        <button class="btn-color dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#editarusuario" (click)="abrirmodaleditar(user)"
                                style="background: #00DA9D; color: white;">Editar
                        </button>
                        <button class="btn-color dropdown-item "
                                style="background: #F33501; color: white;" (click)="delete(user)">Eliminar
                        </button>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<!-- Modal -->
<div class="modal fade" id="agregarusuario" tabindex="-1" aria-labelledby="agregarusuario" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header align-items-center" style="background: #195E4B; color: white">
                <h1 class="modal-title fs-5">Agregar Usuario</h1>
                <button type="button" class="btn-close bg-light text-bg-light" data-bs-dismiss="modal"
                        aria-label="Close"
                        id="closeM1"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form class="form-control" #usuarioAgregar="ngForm" style="border: none">
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombre"
                                       name="nombre" required minlength="2" maxlength="70"
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       [(ngModel)]="persona.nombre" #nombrePer="ngModel" [ngModelOptions]="{standalone: true }">
                                <div class="alert alert-danger"
                                     *ngIf="nombrePer.invalid && (nombrePer.dirty || nombrePer.touched)">
                                    <div *ngIf="nombrePer?.errors?.['required']">
                                        Digite su nombre
                                    </div>
                                    <div *ngIf="nombrePer?.errors?.['minlength']">
                                        El nombre debe tener mínimo 2 caracteres
                                    </div>
                                    <div *ngIf="nombrePer?.errors?.['maxlength']">
                                        El nombre debe tener máximo 70 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label for="apellido" class="form-label">Apellido:</label>
                                <input type="text" class="form-control" id="apellido"
                                       name="apellido" required minlength="2" maxlength="70"
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       [(ngModel)]="persona.apellido" #apellidoPer="ngModel" [ngModelOptions]="{standalone: true }">
                                <div class="alert alert-danger"
                                     *ngIf="apellidoPer.invalid && (apellidoPer.dirty || apellidoPer.touched)">
                                    <div *ngIf="apellidoPer?.errors?.['required']">
                                        Digite su apellido
                                    </div>
                                    <div *ngIf="apellidoPer?.errors?.['minlength']">
                                        El apellido debe tener mínimo 2 caracteres
                                    </div>
                                    <div *ngIf="apellidoPer?.errors?.['maxlength']">
                                        El apellido debe tener máximo 70 caracteres
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="cedula" class="form-label">Cédula:</label>
                                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="cedula" name="cedula" pattern="^((\\+91-?)|0)?[0-9]{10}$"
                                       required minlength="10" maxlength="10" #cedula="ngModel"
                                       style="background: #D9D9D9;border-radius: 0px;" [ngModelOptions]="{standalone: true }"
                                       [(ngModel)]="persona.cedula">
                                <div class="alert alert-danger"
                                     *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)">
                                    <div *ngIf="cedula?.errors?.['required']">
                                        Digite su cedula
                                    </div>
                                    <div *ngIf="cedula?.errors?.['minlength']">
                                        La cedula debe tener mínimo 10 caracteres
                                    </div>
                                    <div *ngIf="cedula?.errors?.['maxlength']">
                                        La cedula debe tener máximo 10 caracteres
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm">
                                <label for="email" class="form-label">Email:</label>
                                <input type="text" class="form-control" id="email" name="email"
                                       style="background: #D9D9D9;border-radius: 0px;" [ngModelOptions]="{standalone: true }"
                                       pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                                       required minlength="2" maxlength="70" [(ngModel)]="persona.correo"
                                       #emailPer="ngModel">
                                <div class="alert alert-danger"
                                     *ngIf="emailPer.invalid && (emailPer.dirty || emailPer.touched)">
                                    <div *ngIf="emailPer?.errors?.['required']">
                                        Digite su cedula
                                    </div>
                                    <div *ngIf="emailPer?.errors?.['maxlength']">
                                        Su correo debe tener máximo 70 caracteres
                                    </div>
                                    <div *ngIf="emailPer?.errors?.['pattern']">
                                        el Email debe tener el siguiente formato: user100@gmail.com
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="celular" class="form-label">Celular:</label>
                                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="celular" name="celular"
                                       pattern="^((\\+91-?)|0)?[0-9]{10}$" [ngModelOptions]="{standalone: true }"
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       required minlength="10" maxlength="10"
                                       [(ngModel)]="persona.celular" #celularPer="ngModel" >
                                <div class="alert alert-danger"
                                     *ngIf="celularPer.invalid && (celularPer.dirty || celularPer.touched)">
                                    <div *ngIf="celularPer?.errors?.['required']">
                                        Digite su numero celular
                                    </div>
                                    <div *ngIf="celularPer?.errors?.['minlength']">
                                        El numero celular debe tener mínimo 10 caracteres
                                    </div>
                                    <div *ngIf="celularPer?.errors?.['maxlength']">
                                        El numero celular debe tener máximo 10 caracteres
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm">
                                <label for="direccion" class="form-label">Direccion:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion"
                                       style="background: #D9D9D9;border-radius: 0px;" [ngModelOptions]="{standalone: true }"
                                       required minlength="2" maxlength="70" [(ngModel)]="persona.direccion"
                                        #direccionPer="ngModel">
                                <div class="alert alert-danger"
                                     *ngIf="direccionPer.invalid && (direccionPer.dirty || direccionPer.touched)">
                                    <div *ngIf="direccionPer?.errors?.['required']">
                                        Digite su direccion
                                    </div>
                                    <div *ngIf="direccionPer?.errors?.['minlength']">
                                        La direccion debe tener mínimo 2 caracteres
                                    </div>
                                    <div *ngIf="direccionPer?.errors?.['maxlength']">
                                        La direccion debe tener máximo 70 caracteres
                                    </div>
                                </div>
                            </div>
                            <hr>


                        </div>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="usuario" class="form-label">Usuario:</label>
                                <input type="text" class="form-control" placeholder="Ingrese el nombre de usuario "
                                       style="background: #D9D9D9;border-radius: 0px;" required minlength="2"
                                       maxlength="15" #usuario="ngModel"
                                       id="usuario" name="usuario" [ngModelOptions]="{standalone: true }"
                                       [(ngModel)]="user.usuusuario">
                                <div class="alert alert-danger"
                                     *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
                                    <div *ngIf="usuario?.errors?.['required']">
                                        Ingrese un nombre de usuario
                                    </div>
                                    <div *ngIf="usuario?.errors?.['minlength']">
                                        El nombre de usuario debe tener minimo 2 caracteres
                                    </div>
                                    <div *ngIf="usuario?.errors?.['maxlength']">
                                        El nombre de usuario debe tener maximo 15 caracteres
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm">
                                <label for="rolnombre" class="form-label">Rol </label>
                                <select id="rolnombre" class="form-control" [(ngModel)]="rol"
                                        style="background: #D9D9D9;border-radius: 0px;" [ngModelOptions]="{standalone: true }">
                                    <option *ngFor=" let roles of roles"
                                            [ngValue]="roles">{{roles.rolnombre}}</option>
                                </select>
                            </div>

                        </div>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="password" name="password" required
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       minlength="8" maxlength="50" placeholder="Digite la contraseña"
                                       [(ngModel)]="user.usu_contrasena" [ngModelOptions]="{standalone: true }">
                            </div>
                            <div class="col-sm">
                                <label for="password2" class="form-label">Repetir Contraseña:</label>
                                <input type="password" class="form-control" id="password2" name="password2" required
                                       minlength="8" maxlength="50" placeholder="Digite la contraseña otra vez"
                                       style="background: #D9D9D9;border-radius: 0px;" >
                            </div>
                        </div>
                        <br>
                        <div class="container text-center">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <button class="btn btn-color" (click)="agregarUser()"
                                            style="background: #00DA9D; color: white"
                                            [disabled]="!usuarioAgregar.form.valid">Agregar
                                    </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-color" type="button" data-bs-dismiss="modal"
                                            style="background: #F33501; color: white">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Modal Editar-->
<div class="modal fade" id="editarusuario" tabindex="-1" aria-labelledby="editarusuario" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header align-items-center" style="background: #195E4B; color: white">
                <h1 class="modal-title fs-5">Agregar Usuario</h1>
                <button type="button" class="btn-close bg-light text-bg-light" data-bs-dismiss="modal"
                        aria-label="Close"
                        id="closeM2"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form class="form-control" #usuarioEditar="ngForm" style="border: none">
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="nombreedit" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombreedit"
                                       name="nombre" required minlength="2" maxlength="70"
                                       style="background: #D9D9D9;border-radius: 0px;" #nombreedit="ngModel"
                                       [(ngModel)]="persona.nombre" [ngModelOptions]="{standalone: true }">
                                <div class="alert alert-danger"
                                     *ngIf="nombreedit.invalid && (nombreedit.dirty || nombreedit.touched)">
                                    <div *ngIf="nombreedit?.errors?.['required']">
                                        Digite su nombre
                                    </div>
                                    <div *ngIf="nombreedit?.errors?.['minlength']">
                                        El nombre debe tener mínimo 2 caracteres
                                    </div>
                                    <div *ngIf="nombreedit?.errors?.['maxlength']">
                                        El nombre debe tener máximo 70 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label for="apellidoedit" class="form-label">Apellido:</label>
                                <input type="text" class="form-control" id="apellidoedit"
                                       name="apellido" required minlength="2" maxlength="70"
                                       style="background: #D9D9D9;border-radius: 0px;" #apellidoedit="ngModel"
                                       [(ngModel)]="persona.apellido" [ngModelOptions]="{standalone: true }">
                                <div class="alert alert-danger"
                                     *ngIf="apellidoedit.invalid && (apellidoedit.dirty || apellidoedit.touched)">
                                    <div *ngIf="apellidoedit?.errors?.['required']">
                                        Digite su apellido
                                    </div>
                                    <div *ngIf="apellidoedit?.errors?.['minlength']">
                                        El apellido debe tener mínimo 2 caracteres
                                    </div>
                                    <div *ngIf="apellidoedit?.errors?.['maxlength']">
                                        El apellido debe tener máximo 70 caracteres
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="cedulaedit" class="form-label">Cédula:</label>
                                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="cedulaedit" name="cedulaedit"
                                       pattern="^((\\+91-?)|0)?[0-9]{10}$"
                                       required minlength="10" maxlength="10" #cedulaedit="ngModel"
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       [(ngModel)]="persona.cedula">
                                <div class="alert alert-danger"
                                     *ngIf="cedulaedit.invalid && (cedulaedit.dirty || cedulaedit.touched)">
                                    <div *ngIf="cedulaedit?.errors?.['required']">
                                        Digite su cedula
                                    </div>
                                    <div *ngIf="cedulaedit?.errors?.['minlength']">
                                        La cedula debe tener mínimo 10 caracteres
                                    </div>
                                    <div *ngIf="cedulaedit?.errors?.['maxlength']">
                                        La cedula debe tener máximo 10 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label for="emailedit" class="form-label">Email:</label>
                                <input type="text" class="form-control" id="emailedit" name="email"
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                                       required minlength="2" maxlength="70" [(ngModel)]="persona.correo"
                                       #emailedit="ngModel"
                                       [ngModelOptions]="{standalone: true }">
                                <div class="alert alert-danger"
                                     *ngIf="emailedit.invalid && (emailedit.dirty || emailedit.touched)">
                                    <div *ngIf="emailedit?.errors?.['required']">
                                        Digite su cedula
                                    </div>
                                    <div *ngIf="emailedit?.errors?.['maxlength']">
                                        Su correo debe tener máximo 70 caracteres
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="celularedit" class="form-label">Celular:</label>
                                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="celularedit" name="celular"
                                       pattern="^((\\+91-?)|0)?[0-9]{10}$"
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       required minlength="10" maxlength="10"
                                       [(ngModel)]="persona.celular" #celularedit="ngModel"
                                       [ngModelOptions]="{standalone: true }">
                                <div class="alert alert-danger"
                                     *ngIf="celularedit.invalid && (celularedit.dirty || celularedit.touched)">
                                    <div *ngIf="celularedit?.errors?.['required']">
                                        Digite su numero celular
                                    </div>
                                    <div *ngIf="celularedit?.errors?.['minlength']">
                                        El numero celular debe tener mínimo 10 caracteres
                                    </div>
                                    <div *ngIf="celularedit?.errors?.['maxlength']">
                                        El numero celular debe tener máximo 10 caracteres
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm">
                                <label for="direccionedit" class="form-label">Direccion:</label>
                                <input type="text" class="form-control" id="direccionedit" name="direccion"
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       required minlength="2" maxlength="70" [(ngModel)]="persona.direccion"
                                       [ngModelOptions]="{standalone: true }" #direccionedit="ngModel">
                                <div class="alert alert-danger"
                                     *ngIf="direccionedit.invalid && (direccionedit.dirty || direccionedit.touched)">
                                    <div *ngIf="direccionedit?.errors?.['required']">
                                        Digite su direccion
                                    </div>
                                    <div *ngIf="direccionedit?.errors?.['minlength']">
                                        La direccion debe tener mínimo 2 caracteres
                                    </div>
                                    <div *ngIf="direccionedit?.errors?.['maxlength']">
                                        La direccion debe tener máximo 70 caracteres
                                    </div>
                                </div>
                            </div>
                            <hr>


                        </div>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="usuarioedit" class="form-label">Usuario:</label>
                                <input type="text" class="form-control" placeholder="Ingrese el nombre de usuario "
                                       style="background: #D9D9D9;border-radius: 0px;" required minlength="2"
                                       maxlength="15"
                                       id="usuarioedit" name="usuario"  #usuarioedit="ngModel"
                                       [(ngModel)]="user.usuusuario"
                                       [ngModelOptions]="{standalone: true }">
                                <div class="alert alert-danger"
                                     *ngIf="usuarioedit.invalid && (usuarioedit.dirty || usuarioedit.touched)">
                                    <div *ngIf="usuarioedit?.errors?.['required']">
                                        Ingrese un nombre de usuario
                                    </div>
                                    <div *ngIf="usuarioedit?.errors?.['minlength']">
                                        El nombre de usuario debe tener minimo 2 caracteres
                                    </div>
                                    <div *ngIf="usuarioedit?.errors?.['maxlength']">
                                        El nombre de usuario debe tener maximo 15 caracteres
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm">
                                <label for="rolnombreedit" class="form-label">Rol </label>
                                <select [compareWith]="compararrol" [(ngModel)]="rol.idrol"
                                        id="rolnombreedit" class="form-control" [(ngModel)]="rol"
                                        style="background: #D9D9D9;border-radius: 0px;"
                                        [ngModelOptions]="{standalone: true }">
                                    <option *ngFor=" let roles of roles"
                                            [ngValue]="roles">{{roles.rolnombre}}</option>

                                </select>
                            </div>

                        </div>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="passwordedit" class="form-label">Contraseña:</label>
                                <input type="password" class="form-control" id="passwordedit" name="password" required
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       minlength="8" maxlength="50" placeholder="Digite la contraseña"
                                       [(ngModel)]="user.usu_contrasena"
                                       [ngModelOptions]="{standalone: true }">
                            </div>
                            <div class="col-sm">
                                <label for="password2edit" class="form-label">Repetir Contraseña:</label>
                                <input type="password" class="form-control" id="password2edit" name="password2" required
                                       minlength="8" maxlength="50" placeholder="Digite la contraseña otra vez"
                                       style="background: #D9D9D9;border-radius: 0px;">
                            </div>
                        </div>
                        <br>
                        <div class="container text-center">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <button class="btn btn-color" (click)="actualizarUsuario()"
                                            style="background: #00DA9D; color: white"
                                            [disabled]="!usuarioEditar.form.valid">Actualizar
                                    </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-color" type="button" data-bs-dismiss="modal"
                                            style="background: #F33501; color: white">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

