<div class="container-fluid text-black mt-5 text-center">
    <h1 class="text-center">Lista de Facturas</h1>
</div>
<br>
<div class="container small">

    <table class="table mt-3 table-hover table-striped">
        <thead style="background: #195E4B; color: white">
        <tr>
            <th scope="col" class="text-center">Código Factura</th>
            <th scope="col" class="text-center">Fecha Facturación</th>
            <th scope="col" class="text-center">Detalle</th>
            <th scope="col" class="text-center">Cantidad</th>
            <th scope="col" class="text-center">Precio</th>
            <th scope="col" class="text-center">Acciones</th>

        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let detalles of detalle" class="text-center">
            <td class="text-center">{{facturas.idfactura}}</td>
            <td class="text-center">{{detalles.idfactura.fecha_factura}}</td>
            <td class="text-center">{{detalles.idproducto.nombre}}</td><!-- dudas de que mandar servicio o producto? -->
            <td class="text-center">{{detalles.cantidad}}</td>
            <td class="text-center">{{detalles.precio}}</td>
            <td class="text-center">
                <button class="btn btn-color" type="button" data-bs-toggle="modal" data-bs-target="#detalleFactura"
                        (click)="abrirdetalleFactura(detalles)" style="background: #FFA084; color: white;">Detalles
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<!-- Modal para detalle de factura -->
<div class="modal fade" id="detalleFactura" tabindex="-1" aria-labelledby="detalleFactura" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header align-items-center" style="background: #195E4B; color: white">
                <h1 class="modal-title fs-4">Detalles de Factura</h1>
                <button type="button" class="btn-close text-bg-light" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control" #detalleform style="border: none">
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="numfactura">Detalle N°</label>
                            <input disabled type="text" class="form-control" placeholder="" id="numfactura" name="numfactura"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   [(ngModel)]="detalles.iddetalle">
                        </div>
                        <div class="col-sm">
                            <label for="fecha">Fecha</label>
                            <input disabled type="text" class="form-control" placeholder="" id="fecha"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   name="fecha" [(ngModel)]="facturas.fecha_factura">
                        </div>

                        <div>
                            <h5>Más Datos:</h5>
                        </div>

                        <table class="table mt-3 table-hover table-striped">
                            <thead style="background: #195E4B; color: white">
                            <tr>
                                <th scope="col" class="text-center">Código Detalle</th>
                                <th scope="col" class="text-center">Detalle</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-center">Precio</th>
                                <th scope="col" class="text-center">N° Lote</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let detalles of detalle" class="text-center">
                                <td class="text-center">{{detalles.iddetalle}}</td>
                                <td class="text-center">{{detalles.idproducto.nombre}}</td>
                                <td class="text-center">{{detalles.cantidad}}</td>
                                <td class="text-center">{{detalles.precio}}</td>
                                <td class="text-center">{{detalles.idproducto.num_lote}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
