<div class="container-fluid text-black mt-5 text-center">
    <h1 class="text-center">Reporte de Productos</h1>
</div>

<div class="container small">



    <table class="table mt-3 table-hover table-striped">
        <thead style="background: #195E4B; color: white">
            <tr>
                <th scope="col" class="text-center">Producto</th>
                <th scope="col" class="text-center">Imagen</th>
                <th scope="col" class="text-center">Cantidad</th>
                <th scope="col" class="text-center">Precio total</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let productos of producto" class="text-center">
                <td class="text-center">{{productos.nombre}}</td>
                <td class="img-fluid align-content-center">
                    <a href="{{productos.imagen}}" data-fancybox>
                        <img src="{{productos.imagen}}" alt="" class="img-fluid"/></a>
                </td>
                <td class="text-center">{{productos.stock}}</td>
                <td class="text-center">{{productos.precio}}</td>
            </tr>
        </tbody>

        <thead style="color: black; background-color: silver;">
            <tr>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center">Suman:</th>
                <th class="text-center" >{{total}}</th>
            </tr>
        </thead>
    </table>
</div>
