<div class="container-fluid text-black mt-5 text-center">
    <h1 class="text-center">Ranking de Empresas</h1>
</div>


<div class="container">

    <br>
    <table class="table mt-3 table-hover table-striped">

        <thead style="background: #195E4B; color: white">
        <tr>
            <th></th>
            <th scope="col" class="text-center">RUC</th>
            <th scope="col" class="text-center">Nombre Comercial</th>
            <th scope="col" class="text-center">Categoria</th>
            <th scope="col" class="text-center">Ingreso Producto</th>
            <th scope="col" class="text-center">Ingreso Servicio</th>
            <th scope="col" class="text-center">Ingreso Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td class="img-fluid">
                <a href="" data-fancybox>
                    <img src="" alt="" class="img-fluid"/></a>
            </td>

            <td class="text-center">
                <div class="fs-5 fw-bold"></div>
                <p class="text-muted small"></p>
            </td>
            <td class="text-center">
                <div>
                    <span class="badge rounded-pill bg-ligth text-dark me-1"></span>

                </div>
                <span class="badge rounded-pill bg-ligth text-dark me-1"></span>

            </td>
            <td class="text-center">
                <p></p>
            </td>

            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
        </tr>

        </tbody>
        <thead style="color: black; background-color: silver;">

        </thead>
    </table>

</div>