<div class="container-fluid text-black mt-5 text-center">
    <h2>Subcategorías</h2>
    <div class="container">
        <div class="row g-3">
            <div class="col-sm">
                <div class="text-start">
                    <button type="button" class="btn btn-color" aria-current="page"
                            routerLink="/dashboard/categoriaproductos"
                            style="background-color: #F33501;border-radius: 20px; color: white">Regresar
                    </button>
                </div>

            </div>
            <div class="col-sm">
                <div class="text-end">
                    <button type="button" class="btn btn-color"
                            data-bs-toggle="modal"
                            data-bs-target="#agregarsubcat"
                            (click)="cleanModal()"
                            style="background: #00DA9D; color: white; border-radius: 20px; width:220px">Agregar
                        Subcategoría
                    </button>
                </div>
            </div>

        </div>

        <br>
        <table class="table mt-3 table-striped table-hover">
            <thead style="background: #195E4B; color: white">
            <tr>
                <th scope="col" class="text-center">Subcategoria</th>
                <th scope="col" class="text-center">Descripción</th>
                <th scope="col" class="text-center">Categoría</th>
                <th scope="col" class="text-center">Configuración</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subcategorias of subcategoria">
                <td class="text-center">
                    <p class="fw-semibold">{{subcategorias.subcatpronombre}}</p>
                </td>
                <td>
                    <p class="lh-sm">{{subcategorias.subcatprodescripcion}}</p>
                </td>

                <td>
                    <p class="lh-sm">{{subcategorias.catproid.catpronombre}}</p>
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-color dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                style="background: #5CCB4A; color: white;">
                            Opciones
                        </button>
                        <ul class="dropdown-menu" style="border: none; background: none">
                            <button class=" dropdown-item " data-bs-toggle="modal"
                                    data-bs-target="#editarcat" style="background: #00DA9D; color: white;"
                                    (click)="abrirmodaleditar(subcategorias)">Editar
                            </button>
                            <!--<button class=" dropdown-item " data-bs-toggle="modal"
                                    data-bs-target="#agregarproducto" style="background: #FFA084; color: white;">
                                Detalles
                            </button>-->
                            <button class=" dropdown-item" style="background: #FF0F0F; color: white;"
                                    (click)="delete(subcategorias)">Eliminar</button>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="agregarsubcat" tabindex="-1" aria-labelledby="agregarsubcat" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header align-items-center" style="background: #195E4B; color: white">
                    <h1 class="modal-title fs-5">Agregar Subcategoría </h1>
                    <button type="button" id="closeM1" class="btn-close bg-light text-bg-light" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-control" #subcategoriaForm="ngForm" style="border: none">
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="nombresubcate">Nombre de la Subcategoría:</label>
                                <input type="text" class="form-control"
                                       id="nombresubcate" name="nombresubcate" required minlength="5" maxlength="20"
                                       style="background: #D9D9D9;border-radius: 0px;"
                                       [(ngModel)]="subcategorias.subcatpronombre" #nombresubcate="ngModel">
                                <div class="alert alert-danger"
                                     *ngIf="nombresubcate.invalid && (nombresubcate.dirty || nombresubcate.touched)">
                                    <div *ngIf="nombresubcate?.errors?.['required']">
                                        Ingrese la subcategoría
                                    </div>
                                    <div *ngIf="nombresubcate?.errors?.['minlength']">
                                        La subcategoría debe tener mínimo 5 caracteres
                                    </div>
                                    <div *ngIf="nombresubcate?.errors?.['maxlength']">
                                        La subcategoría debe tener máximo 20 caracteres
                                    </div>

                                </div>
                            </div>


                        </div>
                        <br>
                        <div class="row g-3">

                            <div class="col-sm">
                                <label for="subcatdescripcion">Descripción de la Subcategoría:</label>
                                <textarea class="form-control"
                                          id="subcatdescripcion" name="subcatdescripcion" required minlength="25"
                                          style="background: #D9D9D9;border-radius: 0px;"
                                          maxlength="100" [(ngModel)]="subcategorias.subcatprodescripcion"
                                          #subcatdescripcion="ngModel"></textarea>
                                <div class="alert alert-danger"
                                     *ngIf="subcatdescripcion.invalid && (subcatdescripcion.dirty || subcatdescripcion.touched)">
                                    <div *ngIf="subcatdescripcion?.errors?.['required']">
                                        Ingrese la descripcion
                                    </div>
                                    <div *ngIf="subcatdescripcion?.errors?.['minlength']">
                                        La descripción debe tener mínimo 25 caracteres
                                    </div>
                                    <div *ngIf="subcatdescripcion?.errors?.['maxlength']">
                                        La descripción debe tener máximo 100 caracteres
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="catproid" class="form-label">Categoría:</label>
                                <select [(ngModel)]="subcategorias.catproid" name="catproid" id="catproid"
                                        class="form-control" #catproid="ngModel" required
                                        style="background: #D9D9D9;border-radius: 15px;">

                                    <option *ngFor="let categorias of categoria"
                                            [ngValue]="categorias">{{categorias.catpronombre}}</option>

                                </select>
                                <div class="alert alert-danger"
                                     *ngIf="catproid.invalid && (catproid.dirty || catproid.touched)">
                                    <div *ngIf="catproid?.errors?.['required']">
                                        Seleccione la categoría asignar en la subcategoría
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="container text-center">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <button class="btn btn-color" type="submit"
                                            [disabled]="!subcategoriaForm.form.valid"
                                            (click)="agregarSubcategoria()"
                                            style="background: #00DA9D; color: white; border: none">Agregar
                                    </button>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-color" type="button" data-bs-dismiss="modal"
                                            style="background: #F33501; color: white; border: none">Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


</div>


<!-- Modal editar -->
<div class="modal fade" id="editarcat" tabindex="-1" aria-labelledby="editarcat" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header align-items-center" style="background: #195E4B; color: white">
                <h1 class="modal-title fs-3">Editar Subcategoria</h1>
                <button type="button" id="closeM2" class="btn-close bg-light text-bg-light" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control" ngNavigateValidate #categoriaeditForm="ngForm" style="border: none">
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="nombrecateedit">Nombre de la Subategoría:</label>
                            <input type="text" class="form-control"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   id="nombrecateedit" name="nombrecateedit" required minlength="3" maxlength="25"
                                   [(ngModel)]="categorias.catpronombre" #nombrecateedit="ngModel">
                            <div class="alert alert-danger"
                                 *ngIf="nombrecateedit.invalid && (nombrecateedit.dirty || nombrecateedit.touched)">
                                <div *ngIf="nombrecateedit?.errors?.['required']">
                                    Ingrese la subcategoría
                                </div>
                                <div *ngIf="nombrecateedit?.errors?.['minlength']">
                                    La subcategoría debe tener mínimo 4 caracteres
                                </div>
                                <div *ngIf="nombrecateedit?.errors?.['maxlength']">
                                    La subcategoría debe tener máximo 25 caracteres
                                </div>

                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row g-3">

                        <div class="col-sm">
                            <label for="descripcionedit">Descripción de la Subcategoría:</label>
                            <textarea class="form-control"
                                      id="descripcionedit"
                                      style="background: #D9D9D9;border-radius: 0px;"
                                      name="descripcionedit" required minlength="25" maxlength="100"
                                      [(ngModel)]="categorias.catprodescripcion" #descripcionedit="ngModel"></textarea>
                            <div class="alert alert-danger"
                                 *ngIf="descripcionedit.invalid && (descripcionedit.dirty || descripcionedit.touched)">
                                <div *ngIf="descripcionedit?.errors?.['required']">
                                    Ingrese la descripcion
                                </div>
                                <div *ngIf="descripcionedit?.errors?.['minlength']">
                                    La descripción debe tener mínimo 25 caracteres
                                </div>
                                <div *ngIf="descripcionedit?.errors?.['maxlength']">
                                    La descripción debe tener máximo 100 caracteres
                                </div>

                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button class="btn btn-color" type="button" (click)="actualizarCategoria()"
                                        style="background: #00DA9D; color: white; border: none"
                                        [disabled]="!categoriaeditForm.form.valid">Editar
                                </button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-color" type="button" data-bs-dismiss="modal"
                                        style="background: #F33501; color: white;">Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- <div class="container">
    <br>
    <h2 class="text-center" >{{categorias.catpronombre}}</h2>
    <br>
    <p class="lh-sm"><b>Descripcion: </b>{{categorias.catprodescripcion}}</p>


    <br>
    <h2 class="text-center">Subcategorías</h2>
    <br>

    <div class="container">
        <div class="row g-3">
            <div class="col-sm">
                <div class="text-start">
                    <button type="button" class="btn btn-secondary" aria-current="page" routerLink="/dashboard/categoriaproductos">Regresar</button>
                </div>

            </div>
            <div class="col-sm">
                <div class="text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#agregarcat">Agregar Subcategoría</button>
                </div>
            </div>

        </div>

        <br>
        <table class="table table-hover">

            <thead class="table-dark">
                <tr>

                    <th class="text-center">Subcategoria</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Configuración</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let categorias of categoria">

                    <td class="text-center">
                        <p class="fw-semibold">{{categorias.catpronombre}}</p>

                    </td>

                    <td>
                        <p class="lh-sm">aaaaaaaaaaaaaaaaaa</p>
                    </td>

                    <td class="text-end">
                        <div class="btn-group ">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Opciones
                            </button>
                            <ul class="dropdown-menu ">

                                <button class=" dropdown-item " data-bs-toggle="modal"
                                    data-bs-target="#agregarcat">Editar</button>
                                <button class=" dropdown-item " data-bs-toggle="modal"
                                    data-bs-target="#agregarproducto">Detalles</button>
                                <button class=" dropdown-item ">Eliminar</button>


                            </ul>
                        </div>



                    </td>

                </tr>
            </tbody>
        </table>

    </div> -->


<!-- Modal -->
<!-- <div class="modal fade" id="agregarcat" tabindex="-1" aria-labelledby="agregarcat" aria-hidden="true"
    style="margin-left: -12%;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar Subcategoría </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control" #categoriaForm>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="nombrecate">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre de la Subcategoría "
                                id="nombrecate" name="nombrecate" required minlength="3" maxlength="25">
                        </div>


                    </div>
                    <br>
                    <div class="row g-3">

                        <div class="col-sm">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" placeholder="Descripcion de la Subcategoría"
                                id="descripcion" name="descripcion" required minlength="25"
                                maxlength="500"></textarea>
                        </div>

                    </div>
                    <div class="col-sm">
                        <div class="form-grow">
                            <label for="categoria" class="form-label">Categoría</label>
                            <select id="categoria" class="form-control" disabled>
                                <option value="{{categorias.catproid}}" >{{categorias.catpronombre}}</option>
                                <option>Industrial</option>

                            </select>
                        </div>
                    </div>
                    <br>

                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button class="btn btn-success">Agregar</button>
                        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>


</div> -->
